@import 'src/styles/settings/general';

.selectedUser {
    height: 2.5rem;
    width: 60%;
    margin-top: 0.3rem;
    background: $brand-grey;
    overflow: hidden;
    float: right;
    align-items: center;
    color: white;

    .left {
        align-self: center;
        width: 5rem;
        height: 2.5rem;
        margin-left: 0.5rem;

        img {
            background: $brand-white;
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
        }
    }

    .right {
        width: 100%;
        font-size: 0.9rem;
        font-weight: 300;
    }

    .clear {
        width: 2.5rem;
        margin-right: 1.5rem;

        img {
            max-width: 1.5rem;
            max-height: 1.5rem;
        }
    }
}
