<?xml version='1.0' encoding='utf-8'?>
<widget id="nl.kabisa.kudoomatic" version="1.0.7" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>kudo-o-matic</name>
    <description />
    <content src="index.html" />
    <access origin="*" />
    <hook src="../node_modules/maji/cordova/hooks/before_platform_add.js" type="before_platform_add" />
    <icon src="../src/assets/icons/icon.png" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-targetSdkVersion" value="19" />
    <preference name="BackupWebStorage" value="local" />
    <engine name="browser" />
    <platform name="ios">
        <icon height="180" src="../src/assets/icons/home-icons/ios/Icon-60@3x.png" width="180" />
        <icon height="120" src="../src/assets/icons/home-icons/ios/Icon-60@2x.png" width="120" />
        <icon height="57" src="../src/assets/icons/home-icons/ios/Icon.png" width="57" />
        <icon height="114" src="../src/assets/icons/home-icons/ios/Icon@2x.png" width="114" />
        <icon height="29" src="../src/assets/icons/home-icons/ios/Icon-Small.png" width="29" />
        <icon height="58" src="../src/assets/icons/home-icons/ios/Icon-Small@2x.png" width="58" />
    </platform>
    <platform name="android">
        <icon density="hdpi" src="../src/assets/icons/home-icons/android/hdpi.png" />
        <icon density="xhdpi" src="../src/assets/icons/home-icons/android/xhdpi.png" />
        <icon density="xxhdpi" src="../src/assets/icons/home-icons/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="../src/assets/icons/home-icons/android/xxxhdpi.png" />
    </platform>
    <engine name="android" spec="^6.4.0" />
    <engine name="ios" spec="^4.5.4" />
    <plugin name="cordova-plugin-networkactivityindicator" spec="~0.1.1" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.0" />
    <plugin name="cordova-plugin-googleplus" spec="git+https://github.com/EddyVerbruggen/cordova-plugin-googleplus.git">
        <variable name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.242980876083-0cksfoq3gqljjc7n0b1mflpasg0t544l" />
    </plugin>
    <plugin name="cordova-plugin-camera" spec="^2.4.1">
        <variable name="CAMERA_USAGE_DESCRIPTION" value=" " />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value=" " />
    </plugin>
    <plugin name="ionic-plugin-keyboard" spec="^2.2.1" />
    <plugin name="cordova-plugin-compat" spec="^1.2.0" />
    <plugin name="cordova-plugin-actionsheet" spec="~2.3.3" />
    <plugin name="cordova-plugin-firebase" spec="^0.1.25" />
    <plugin name="cordova-plugin-3dtouch" spec="^1.3.5" />
</widget>
