<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>242980876083-0cksfoq3gqljjc7n0b1mflpasg0t544l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242980876083-0cksfoq3gqljjc7n0b1mflpasg0t544l</string>
	<key>API_KEY</key>
	<string>AIzaSyBt9m2VnAc5TacCJU5gauNEcgZfxXxuQnE</string>
	<key>GCM_SENDER_ID</key>
	<string>242980876083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.kabisa.kudoomatic</string>
	<key>PROJECT_ID</key>
	<string>kudo-o-matic-180317</string>
	<key>STORAGE_BUCKET</key>
	<string>kudo-o-matic-180317.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242980876083:ios:0eb11e3f80cc1eec</string>
	<key>DATABASE_URL</key>
	<string>https://kudo-o-matic-180317.firebaseio.com</string>
</dict>
</plist>