.vscode
.idea
*.iml
node_modules
.DS_Store
*.log
dist
.env
reports/
/src/config/settings.development.json

# cordova stuff
cordova/platforms/*
cordova/plugins/*
!cordova/platforms/.keep
!cordova/plugins/.keep

# Fastlane stuff
fastlane/screenshots/
fastlane/report.xml
/Preview.html
/tmp
/test_servers
/.gradle
/fastlane/metadata/
/profiles/
/fastlane/test_servers/
/fastlane/vault/
