@import 'src/styles/settings/general';

.kudoCounter {
    position: absolute;
    margin-top: 4rem;
    width: 14rem;
    height: 14rem;
    border-radius: 90%;
    border-color: $brand-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}

.progressBar {
    width: 14rem;
    height: 14rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}

.currentAmount {
    text-align: center;
    color: $brand-black;
    font-size: 2.3rem;
    font-weight: 400;
    margin-bottom: 0.3rem;

    .kudoCurrency {
        font-size: 60%;
        color: $brand-grey;
    }
}

.nextGoal {
    text-align: center;
    margin-bottom: 0.1rem;
    color: $brand-grey;
    font-size: 1.4rem;
    font-weight: 300;

    .kudoCurrency {
        font-size: 1rem;
        font-weight: 400;
    }
}
