@import 'src/styles/settings/general';

.buttonGoogle {
    background-color: white;
    color: $brand-blue;
    font-size: 0.9rem;
    font-weight: 300;
    border: none;
    padding: 0.8rem;
    width: 100%;
    outline: none;
}
