@import 'src/styles/settings/general';

h3 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
}

.kudoHeader {
    margin-top: 1.5rem;
}
