@import 'src/styles/settings/general';

.main {
    overflow-y: auto;
    flex: auto;
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: $brand-blue;
    background-size: cover;
    background-position: top left;
}

.logo {
    display: flex;
    background: url('src/assets/logo/kudo-white.png');
    flex: 1;
    margin-bottom: 0.7rem;
    min-height: 1rem;
    background-size: auto 3.3rem;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.login {
    display: flex;
    flex: 3;
    padding: 0 3rem;
    width: 22rem;
    align-self: center;
}
