///////////////////////////////////////////////////////////
//
// Base brand colors
//
///////////////////////////////////////////////////////////
$brand-black: #1a171b;
$brand-white: #fff;
$brand-white-darker: #fbfbfb;
$brand-grey: #95989a;
$brand-grey-lightest: #f5f6f6;
$brand-grey-stripes: #afafaf;
$brand-grey-light: #cdcdcd; // 50% of grey medium
$brand-grey-medium: #9b9b9b;
$brand-grey-dark: #717171;
$brand-grey-transaction: #95989a;
$brand-red: #d8827f;
$brand-green: #77d0a1;
$brand-blue: #6692a6;
$brand-blue-gradient: #007da9;
$brand-logo-color: #356379;
$brand-navbar-color: #fff;
